.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.containerButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    /* text-transform: uppercase; */
}
